* {
    font-family: 'Nunito', Arial, sans-serif;
    background-color: azure;
}

.navs {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav_list {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 26px;
}

h1 {
    color: midnightblue;
    font-family:'Courier New', Courier, monospace;
}

header h2 {
    color: midnightblue;
    text-align: center;
    font-style: italic;
}

#happy {
    font-style: italic;
}

.copyright {
    text-align: center;
}

img {
    width: 280px;
    padding-top: 1px;
    transition-duration: 0.9s;
    margin-left: 10px;
}

img:hover {
    transform: scale(1.1);
}



