* {
    font-family: 'Nunito', Arial, sans-serif;
    background-color: #96adad;
}

.navs {
    font-style: italic;
}

div {
    text-align: center;
}

div h2 {
    font-style: italic;
}

#happy {
    font-style: italic;
}

.copyright {
    text-align: center;
}

img {
    width: 280px;
    padding-top: 1px;
}



