<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Ryan Gavin Balares">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
        <meta name="description" content="A simple Grade 9 template.">
        <link rel="stylesheet" href="home.css">
        <title>A Website</title>
    </head>

    <body>
        <header>
        <nav>
            <ul class="nav_list">
                <li><a href="index.html">Home</a></li>
            </ul>
        </nav>
        </header>

        <main>
            <h1>Welcome Here!</h1>
            <p>What would you like to do?</p>
        </main>

    </body>
</html>